@import "tailwindcss";

body {
  background: linear-gradient(-55deg, #ffffff, #000000, #ffffff, #023b77);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 60% 50%; }
  100% { background-position: 0% 50%; }
}